<!DOCTYPE html>

<html lang="pt-BR">
    <%- include('./partials/header') %>
<head>
	<meta charset="utf-8">
	<title>Carrinho</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carrinho.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

    
</head>
<% carrinho.forEach(function(produto){ %>
    <section id="carrinho-container">
        <div id="carrinho">
            <% carrinho.forEach(function(produto){ %>
              <div class='produto'>
                  <p>
                    <img src='<%=produto.imagem%>'  />
                  </p>
                  <p><%=produto.nome%></p>
                  <p><%=produto.preco%></p>
                  <p><b>Quantidade:</b><%=produto.quantidade%></p>
                  <p><button onclick="remover({slug: '<%=produto.slug%>', quantidade:1, nome:'<%=produto.nome%>', valor:<%=produto.preco%>})">Excluir</button></p>
            <% }) %>
          </div>
    </section>
    <% }) %>
    <%- include('./partials/carrinho'); %>

</body>